

@font-face {
	font-family: BadRobot;
	src: url(../font/badrobot.ttf);
}


.mainContainer {
	visibility: hidden;
}

.mainContainer.shown {
visibility: visible;
}

body {
	background-color: white;
}

canvas {
	margin-top: auto;
	margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
	/*height: 90%;*/
}

#footer {
width:60%;
margin-left: auto;
margin-right: auto;
}

.footerdiv {
float: left;
width: 50%;
}

#version {
text-align: left;
}

#credits {
text-align: right;
}

p {
font-family: 'BadRobot';
font-size: 18px;
}