@font-face {
	font-family: StiffStaff;
	src: url(../font/StiffStaff.otf);
}

body {
background-color: white;
}

#wrapper {
width:60%;
margin-left: auto;
margin-right: auto;
}

h1 {
font-family: StiffStaff;
text-align: center;
font-size: 40px;
}

canvas {
	margin-top: auto;
	margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
	height:70%
}

#footer {
width:60%;
margin-left: auto;
margin-right: auto;
}

p {
font-family: StiffStaff;
text-align: right;
font-size: 25px;
}
