@font-face {
	font-family: StiffStaff;
	src: url(../font/StiffStaff.otf);
}

@font-face {
	font-family: Rollmops;
	src: url(../font/Rollmops.otf);
}

@font-face {
	font-family: Squid;
	src: url(../font/SquidRegular.ttf);
}

.mainContainer {
	visibility: hidden;
}

.mainContainer.shown {
visibility: visible;
}

body {
	background-color: white;
}

canvas {
	margin-top: auto;
	margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35%;
	/*height: 35%*/
}

#footer {
width:60%;
margin-left: auto;
margin-right: auto;


}

.footerdiv {
float: left;
width: 50%;
}

#version {
text-align: left;
}

#credits {
text-align: right;
}

p {
font-family: Squid;
font-size: 25px;
}